# Quantitative Momentum Strategy

"Momentum investing" means investing in the stocks that have increased in price the most.

For this project, we're going to build an investing strategy that selects the 50 stocks with the highest price momentum. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.


## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [7]:
import numpy as np
import math
import pandas as pd
import yfinance as yf
from scipy import stats
import xlsxwriter

## Importing Our List of Stocks

As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the `.csv` file is still in your working directory and import it with the following command:

In [8]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,A,Agilent Technologies,Health Care,Life Sciences Tools & Services,"Santa Clara, California",05/06/00,1090872,1999
1,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals","Cupertino, California",30/11/82,320193,1977
2,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",31/12/12,1551152,2013 (1888)
3,ABNB,Airbnb,Consumer Discretionary,"Hotels, Resorts & Cruise Lines","San Francisco, California",18/09/23,1559720,2008
4,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",04/03/57,1800,1888
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",01/11/11,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",06/10/97,1041061,1997
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",07/08/01,1136869,1927
501,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",23/12/19,877212,1969
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",21/06/13,1555280,1952

## Making Our First API Call

It's now time to make the first version of our momentum screener!

We need to get one-year price returns for each stock in the universe. Here's how.

In [14]:
symbol = 'AAPL'

data = yf.Ticker(symbol).history(period='1y')

## Parsing Our API Call

This API call has all the information we need. We can parse it using the same square-bracket notation as in the first project of this course. Here is an example.

In [15]:
start_price = data['Close'].iloc[0]
close_price = data['Close'].iloc[-1]

year_return = (close_price / start_price) - 1
print(year_return)

0.21931005699464245

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called `chunks` that we can use to divide our list of securities into groups of 100.

In [35]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Symbol'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(' '.join(symbol_groups[i]))
    

my_columns = ['Ticker', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [39]:
final_df = pd.DataFrame(columns=my_columns)

for symbol_string in symbol_strings:
    batch_api_call = yf.download(symbol_string, period="1y")['Close']

    year_returns = ((batch_api_call.iloc[-1] - batch_api_call.iloc[0]) / batch_api_call.iloc[0])

    for symbol in symbol_string.split(' '):
        price = batch_api_call[symbol].iloc[-1]
        new_row = pd.DataFrame([[symbol, price, year_returns[symbol], 'N/A']], columns=my_columns)

        final_df = pd.concat([final_df, new_row], ignore_index=True)
final_df

[*********************100%***********************]  100 of 100 completed

1 Failed download:
['AMTM']: YFInvalidPeriodError("%ticker%: Period '1y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', 'ytd', 'max']")
/var/folders/hd/h4ty4f0j2tgfss4vb7rrr93w0000gn/T/ipykernel_81848/943318742.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, new_row], ignore_index=True)
[*********************100%***********************]  100 of 100 completed
[*********************100%***********************]  100 of 100 completed
[*********************100%***********************]  100 of 100 completed
[*********************100%***********************]  100 of 100 completed

1 Failed download:
['SW']: YFInvalidPeriodError("%ticker%: Period '1y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', 'ytd', 'max']")
[*********************100%***********************]  3 of 3 completed

    Ticker       Price  One-Year Price Return Number of Shares to Buy
0        A  133.669998               0.243905                     N/A
1     AAPL  224.229996               0.213366                     N/A
2     ABBV  171.089996               0.234059                     N/A
3     ABNB  133.199997               0.117919                     N/A
4      ABT  116.440002               0.215576                     N/A
..     ...         ...                    ...                     ...
498    XYL  124.790001               0.266775                     N/A
499    YUM  134.610001               0.074216                     N/A
500    ZBH  109.940002               0.038934                     N/A
501   ZBRA  402.690002               0.987513                     N/A
502    ZTS  173.960007               0.030386                     N/A

[503 rows x 4 columns]

## Removing Low-Momentum Stocks

The investment strategy that we're building seeks to identify the 50 highest-momentum stocks in the S&P 500.

Because of this, the next thing we need to do is remove all the stocks in our DataFrame that fall below this momentum threshold. We'll sort the DataFrame by the stocks' one-year price return, and drop all stocks outside the top 50.

In [44]:
final_df.sort_values('One-Year Price Return', ascending = False, inplace = True)
final_df = final_df[:50]
final_df.reset_index(inplace=True)
final_df

    index Ticker        Price  One-Year Price Return Number of Shares to Buy
0     476    VST   142.160004               3.132558                     N/A
1     346   NVDA   148.289993               2.049979                     N/A
2     376   PLTR    59.849998               2.036530                     N/A
3      47   AXON   595.179993               1.721943                     N/A
4     393    RCL   237.419998               1.427359                     N/A
5     269    KKR   153.160004               1.394247                     N/A
6     458    UAL    89.129997               1.338756                     N/A
7     188   FICO  2348.100098               1.319638                     N/A
8     446   TRGP   194.309998               1.288423                     N/A
9     236    HWM   113.580002               1.256257                     N/A
10    429    SYF    65.120003               1.210455                     N/A
11    208     GM    57.410000               1.134201                     N/A
12    331   NCLH    27.870001               1.127481                     N/A
13    199   GDDY   187.229996               1.121827                     N/A
14    133    DFS   177.770004               1.121107                     N/A
15    341    NRG    92.660004               1.010414                     N/A
16    501   ZBRA   402.690002               0.987513                     N/A
17    200     GE   182.639999               0.981024                     N/A
18    196   FTNT    99.150002               0.971173                     N/A
19    250    IRM   114.500000               0.937394                     N/A
20    278   LDOS   201.270004               0.927689                     N/A
21     82    CCL    24.590000               0.924100                     N/A
22    251   ISRG   537.070007               0.901267                     N/A
23     33   ANET   395.549988               0.881063                     N/A
24     86    CEG   228.699997               0.878902                     N/A
25    190   FITB    47.169998               0.878534                     N/A
26    466    URI   868.359985               0.877413                     N/A
27    127    DAL    64.050003               0.874451                     N/A
28     48    AXP   288.510010               0.869315                     N/A
29     44   AVGO   176.220001               0.860961                     N/A
30     88    CFG    46.419998               0.860521                     N/A
31    389    PWR   327.269989               0.856956                     N/A
32    132   DELL   136.470001               0.849939                     N/A
33     71     BX   180.660004               0.848562                     N/A
34    336   NFLX   819.500000               0.843147                     N/A
35    209   GNRC   190.320007               0.838130                     N/A
36    214   GRMN   213.580002               0.833619                     N/A
37    453     TT   411.140015               0.831848                     N/A
38     80   CBRE   133.800003               0.824877                     N/A
39    327    MTB   213.229996               0.824662                     N/A
40    398     RL   209.589996               0.816834                     N/A
41    215     GS   592.590027               0.812701                     N/A
42    445    TPR    51.169998               0.794809                     N/A
43    119   CTLT    59.250000               0.790030                     N/A
44    103    COF   186.789993               0.789690                     N/A
45    148    DVA   158.039993               0.788187                     N/A
46    447   TRMB    72.809998               0.783684                     N/A
47    308    MHK   141.820007               0.781435                     N/A
48    487    WFC    72.599998               0.780721                     N/A
49    306   META   584.820007               0.776542                     N/A

## Calculating the Number of Shares to Buy

Just like in the last project, we now need to calculate the number of shares we need to buy. The one change we're going to make is wrapping this functionality inside a function, since we'll be using it again later in this Jupyter Notebook.

Since we've already done most of the work on this, try to complete the following two code cells without watching me do it first!

In [50]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input('Enter the size of your portfolio: ')

    try:
        float(portfolio_size)
    except ValueError:
        print('Please enter an numerical value')
        portfolio_size = input('Enter the size of your portfolio: ')

portfolio_input()

In [55]:
position_size = float(portfolio_size)/len(final_df.index)
for i in range(0, len(final_df)):
    final_df.loc[i, 'Number of Shares to Buy'] = math.floor(position_size/final_df.loc[i, 'Price'])
final_df

    index Ticker        Price  One-Year Price Return Number of Shares to Buy
0     476    VST   142.160004               3.132558                    1406
1     346   NVDA   148.289993               2.049979                    1348
2     376   PLTR    59.849998               2.036530                    3341
3      47   AXON   595.179993               1.721943                     336
4     393    RCL   237.419998               1.427359                     842
5     269    KKR   153.160004               1.394247                    1305
6     458    UAL    89.129997               1.338756                    2243
7     188   FICO  2348.100098               1.319638                      85
8     446   TRGP   194.309998               1.288423                    1029
9     236    HWM   113.580002               1.256257                    1760
10    429    SYF    65.120003               1.210455                    3071
11    208     GM    57.410000               1.134201                    3483
12    331   NCLH    27.870001               1.127481                    7176
13    199   GDDY   187.229996               1.121827                    1068
14    133    DFS   177.770004               1.121107                    1125
15    341    NRG    92.660004               1.010414                    2158
16    501   ZBRA   402.690002               0.987513                     496
17    200     GE   182.639999               0.981024                    1095
18    196   FTNT    99.150002               0.971173                    2017
19    250    IRM   114.500000               0.937394                    1746
20    278   LDOS   201.270004               0.927689                     993
21     82    CCL    24.590000               0.924100                    8133
22    251   ISRG   537.070007               0.901267                     372
23     33   ANET   395.549988               0.881063                     505
24     86    CEG   228.699997               0.878902                     874
25    190   FITB    47.169998               0.878534                    4239
26    466    URI   868.359985               0.877413                     230
27    127    DAL    64.050003               0.874451                    3122
28     48    AXP   288.510010               0.869315                     693
29     44   AVGO   176.220001               0.860961                    1134
30     88    CFG    46.419998               0.860521                    4308
31    389    PWR   327.269989               0.856956                     611
32    132   DELL   136.470001               0.849939                    1465
33     71     BX   180.660004               0.848562                    1107
34    336   NFLX   819.500000               0.843147                     244
35    209   GNRC   190.320007               0.838130                    1050
36    214   GRMN   213.580002               0.833619                     936
37    453     TT   411.140015               0.831848                     486
38     80   CBRE   133.800003               0.824877                    1494
39    327    MTB   213.229996               0.824662                     937
40    398     RL   209.589996               0.816834                     954
41    215     GS   592.590027               0.812701                     337
42    445    TPR    51.169998               0.794809                    3908
43    119   CTLT    59.250000               0.790030                    3375
44    103    COF   186.789993               0.789690                    1070
45    148    DVA   158.039993               0.788187                    1265
46    447   TRMB    72.809998               0.783684                    2746
47    308    MHK   141.820007               0.781435                    1410
48    487    WFC    72.599998               0.780721                    2754
49    306   META   584.820007               0.776542                     341

## Building a Better (and More Realistic) Momentum Strategy

Real-world quantitative investment firms differentiate between "high quality" and "low quality" momentum stocks:

* High-quality momentum stocks show "slow and steady" outperformance over long periods of time
* Low-quality momentum stocks might not show any momentum for a long time, and then surge upwards.

The reason why high-quality momentum stocks are preferred is because low-quality momentum can often be cause by short-term news that is unlikely to be repeated in the future (such as an FDA approval for a biotechnology company).

To identify high-quality momentum, we're going to build a strategy that selects stocks from the highest percentiles of: 

* 1-month price returns
* 3-month price returns
* 6-month price returns
* 1-year price returns

Let's start by building our DataFrame. You'll notice that I use the abbreviation `hqm` often. It stands for `high-quality momentum`.

## Calculating Momentum Percentiles

We now need to calculate momentum percentile scores for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* `One-Year Price Return`
* `Six-Month Price Return`
* `Three-Month Price Return`
* `One-Month Price Return`

Here's how we'll do this:

## Calculating the HQM Score

We'll now calculate our `HQM Score`, which is the high-quality momentum score that we'll use to filter for stocks in this investing strategy.

The `HQM Score` will be the arithmetic mean of the 4 momentum percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the `mean` function from Python's built-in `statistics` module.

## Selecting the 50 Best Momentum Stocks

As before, we can identify the 50 best momentum stocks in our universe by sorting the DataFrame on the `HQM Score` column and dropping all but the top 50 entries.

## Calculating the Number of Shares to Buy

We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a `for` loop to calculate the number of shares to buy for each stock in our investment universe.

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

## Creating the Formats We'll Need For Our .xlsx File

You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

Since we already built our formats in the last section of this course, I've included them below for you. Run this code cell before proceeding.

In [ ]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

## Saving Our Excel Output

As before, saving our Excel output is very easy: